// Base breakpoint values (used in calculations without `px` value)
$breakpoint-xxs: 0;
$breakpoint-xs: 375;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;
$breakpoint-xl: 1920;

// Color scheme
$purple-taupe: #444054;
$cyan-azure: #4f8bba;
$mandrin: #f38b4c;
$dark-puce: #433a3f;
$corn-silk: #fcfad9;
$floral-white: #faf8f2;
